body {
    font-family: 'Arial', sans-serif;
    background: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.shop-name {
    text-align: center;
    margin-bottom: 30px;
}

.shop-name h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #ffbe0b;
    text-shadow: 2px 2px #000000;
    border-bottom: 2px solid #ffbe0b;
    display: inline-block;
    padding-bottom: 10px;
}

.cart, .cart-details, .pizzas, .order-history, .footer {
    margin: 20px 0;
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border: 1px solid #333533;
}

.cart h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffbe0b;
    text-shadow: 1px 1px #000000;
}

.message {
    margin-bottom: 10px;
    color: #d9534f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #ffffff;
}

table th, table td {
    border: 1px solid #333533;
    padding: 10px;
    text-align: left;
}

table th {
    background: #444;
}

.btn-container {
    text-align: center;
}

.btn {
    background: #ffbe0b;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    background: #ffbe0b;
}

footer.footer {
    text-align: center;
    padding: 10px;
    background: #403d39;
    color: #ffcc00;
    border-top: 2px solid #ffbe0b;
}

footer.footer h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #ffbe0b;
    text-shadow: 1px 1px #000000;
}

footer.footer p {
    margin: 5px 0;
    font-size: 1.2em;
}

.pizza {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    background: #403d39;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
    color: #ffffff;
    border: 1px solid #333533;
}

.pizza img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #333533;
    margin-bottom: 10px;
}

.pizza h5 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #ffbe0b;
    text-shadow: 1px 1px #000000;
    border-bottom: 1px solid #ffbe0b;
    display: inline-block;
    padding-bottom: 5px;
}

.pizza span {
    display: block;
    margin: 5px 0;
    font-weight: bold;
    color: #ffbe0b;
    text-shadow: 1px 1px #000000;
}

.pizza p {
    margin: 10px 0;
    font-size: 1.2em;
}

.cart input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333533;
    background: #403d39;
    color: #ffffff;
}

[x-cloak] { display: none !important; }


